*{
    font-family: 'Nunito', sans-serif;
    margin: 0 ;
    border: 0 ;
    padding: 0 ;
}
.nav{
    z-index: 9;
    padding-top: 1% !important;
    padding-left: 4% !important;
    padding-bottom: 1% !important;
    color: #7969E8;
    border-bottom: 1px solid rgba(24, 24, 24,.40) !important;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    background-color: white;
}

.red{
    color: #A99DFF;
}

.logo{
    font-size: 2rem !important;
    font-weight: bolder;
}

.nav-others{
    /* position: relative; */
    display: inline !important;
    font-size: 1.3em !important;
    margin-left: 55% !important;
    word-spacing: 15px;
}

.nav-others a{
    text-decoration: none;
}
.nav-others a:hover{
    text-decoration: underline;
}

.keluar{
    text-decoration: none !important;
    /* position: absolute; */
    top: 3.08% ;
    right: 10.5%;
    font-size: 1.2rem !important;
    background-color:#B54949;
    color: white;
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 5px !important;
    border-radius: 5px !important;
}

.keluar:hover{
    color: white;
}


.c{
    text-decoration: none !important;
    color: #7969E8 !important;
}

.pemilikdash{
    margin-top: 10%;
    margin-left: 20%;
}

.tombolsubmit{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .nav-others{
        /* position: relative; */
        margin-left: 10% !important;
    }

    .keluar{
        margin-left: 80%;
    }
}