*{
    font-family: 'Nunito', sans-serif;
    margin: 0 ;
    border: 0 ;
    padding: 0 ;
}

.nav{
    z-index: 999;
    color: #7969E8 !important;
    background-color: white;
    border-bottom: 1px solid rgba(24, 24, 24,.40) !important;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    top: 0%;
    position: sticky;
}

.sred{
    color: #7969E8!important;
}

.menu{
    color: black !important;
}
.brand-logo{
    /* font-size: 2rem !important; */
    padding-left: 4% !important;
    font-weight: bolder;
    color: #A99DFF !important;
    text-decoration: none !important;
}

.nav-others{
    color: #A99DFF !important;
}

.ungu{
    color: #A99DFF !important;
    font-size: 1.3em !important;
    text-decoration: none;
}

.other_nav{
    padding-right: 5% !important;
}

.keluar{
    text-decoration: none !important;
    /* font-size: 1.2rem !important; */
    background-color:#B54949;
    color: white !important;
    /* padding-top: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 2px !important; */
    border-radius: 2px !important;
}

.keluar:hover{
    opacity: .7;
    background-color: #B54949;
}

@media only screen and (max-width: 600px) {
    .keluar:hover{
        opacity: .7 !important;
        background-color: #B54949 !important;
    }
}